In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../tools/communes-francaises.csv")
df.head()

      Commune Département (numéro)     Département (nom)              Région
0        Aast                   64  Pyrénées-Atlantiques  Nouvelle-Aquitaine
1  Abainville                   55                 Meuse           Grand Est
2   Abancourt                   59                  Nord     Hauts-de-France
3   Abancourt                   60                  Oise     Hauts-de-France
4   Abaucourt                   54    Meurthe-et-Moselle           Grand Est

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35922 entries, 0 to 35921
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Commune               35922 non-null  object
 1   Département (numéro)  35922 non-null  object
 2   Département (nom)     35922 non-null  object
 3   Région                35922 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB

In [6]:
def clean_city_name(city_name):
    allowed_chars = set(" -'")  # espaces, tirets, apostrophes
    cleaned = []

    for ch in city_name:
        if ch.isalpha() or ch in allowed_chars:
            cleaned.append(ch)

    cleaned_name = "".join(cleaned)
    cleaned_name = " ".join(cleaned_name.split())  # retirer espaces multiples
    return cleaned_name

df['cleaned_city_name'] = df['Commune'].apply(clean_city_name)
df.head()

,Commune,Département (numéro),Département (nom),Région,cleaned_city_name
0,Aast,64,Pyrénées-Atlantiques,Nouvelle-Aquitaine,Aast
1,Abainville,55,Meuse,Grand Est,Abainville
2,Abancourt,59,Nord,Hauts-de-France,Abancourt
3,Abancourt,60,Oise,Hauts-de-France,Abancourt
4,Abaucourt,54,Meurthe-et-Moselle,Grand Est,Abaucourt

In [7]:
df.drop_duplicates(subset=['cleaned_city_name'], inplace=True)
df.to_csv("../tools/cleaned_communes_francaises.csv", index=False)